.header, .footer{
    width: 100%;
    text-align: center;
    border: solid 1px black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
nav > a{
    border:solid 1px black;
    padding: 6px 12px;
}
.container{
    display: flex;
    flex-direction: row;
    border:solid 1px black;

}
.container div{
    padding: 20px;
}
.sidebar{
    width: 30%;
    padding: 15px 5px;
}
/*.main-content{
    border:solid 1px black;
    width: 70%;
}*/
.sidebar a{
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: rgb(172, 117, 117);
}
@media screen and (min-width < 600px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}